a {
    text-decoration: none;
    margin: 0px;
    padding: 0%;
}
body {
    background-color:coral;
    margin: 0px;
    /* background-color:hwb(0 0% 100% / 0.241); */
    /* background-color: #fff; */
    width: 100vw;
    height: 100vh;
    /* background-image: url(../Assets/Images/Screenshot\ \(64\)-removebg-preview.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

header {
    /* background-color: #101820; */
    /* margin-top: 0px; */
    padding-top: 1em;
}


.ms-word {
    margin-top: -125px;
    text-align: center;
    padding-bottom: 0.1em;
}

.ms-word > h1 {
    font-weight: bolder;
    font-size: 5em;
    font-family: 'Times New Roman', Times, sans-serif;
    /* color: #FEE715; */
    color: #101820;
}

.ms-word > h2 {
    margin-top: -50px;
    color: #101820;
}

.course-outline {
    margin-top: 0.1em;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    color: #101820;
}

.main-body {
    padding-top: 2em;
    margin: auto;
    width: 80%;
    /* background-color: #FEE715; */
    background-color: hwb(0 0% 100% / 0.241);
    align-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}

.sub-main-body {
    padding-left: 8em;
    display: grid;
    grid-template-columns: 10% 90%;
}

.numbers {
    color: #fff;
    margin-top: 10px;
    background-color: #101820;
    height: 40px;
    width: 40px;
    border-radius: 50%;  
    text-align: center;
    font-size: 20px;
}
.center-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}



.designed-by {
    text-align: center;
}
.designed-by > h3 {
    font-size: 2em;
    /* background-color: aqua; */
}

.line {
    width: 150px;
    height: 4px;
    background: #101820;
    margin: 10px auto;
    border-radius: 5px;
    margin-top: -0.9em;
}

.designed-by > p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 762px) {
    .ms-word {
        margin-top: 50px;
    }
    .ms-word > h1 {
        font-size: 5em;
    }

    .main-body {
        display: flex;
        flex-direction: column;
    }

    .sub-main-body {
        text-align: center;
        padding-left: 0em;
        display: grid;
        grid-template-columns: 10% 90%;
    }

    ul {
        list-style: none;
        width: 50vw;
    }
}